################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/AdventOfCode/bin
/AdventOfCode/obj
*.user
/packages/morelinq.2.0.0-beta06
